* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.profile_bg {
    background: url("images/bg_image.jpg") center center / cover no-repeat fixed;
    height: 100vh;
}

.card_container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 30%;
    text-align: center;
    padding: 30px;
    backdrop-filter: blur(5px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.17);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(35, 0, 63, 0.3);
    color: white;
    transition: background-color 0.5s ease;
}

.card:hover {
    background-color: rgba(0, 26, 255, 0.1);
}

.card .tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

.card .profile_image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin: 30px 0;
}

.card .profile_name h1 {
    font-size: 24px;
    font-weight: 600;
}

.card .profile_position h3 {
    font-size: 14px;
    color: #cccccc;
    margin-bottom: 15px;
}

.card .profile_description h6 {
    font-size: 13px;
    font-weight: 200;
    margin: 15px 20px;
}

.profile_projects_following_followers_container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding: 0 20px;
}

.profile_projects_following_followers_container .project_title {
    font-size: 13px;
    font-weight: 200;
}

.profile_projects_following_followers_container .project_count {
    font-size: 20px;
    font-weight: 600;
}

.profile_btn_group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.profile_btn_group .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.4s ease;
}

.profile_btn_group .follow_btn {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.profile_btn_group .hire_btn {
    background-color: #fff;
    color: #000;
}

.btn a {
    font-size: 15px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    transition: color 0.4s ease;
}

.btn::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
    border-radius: 50%;
}

.follow_btn:hover a {
    color: #000;
}

.follow_btn::after {
    background-color: #fff;
}

.follow_btn:hover::after {
    top: 0;
    border-radius: 0;
}

.hire_btn:hover a {
    color: #fff;
}

.hire_btn::after {
    background-color: #000;
}

.hire_btn:hover::after {
    top: 0;
    border-radius: 0;
}


/* Responsive Styling */

@media (max-width: 480px) {
    .card {
        width: 90%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .card {
        width: 70%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .card {
        width: 50%;
    }
}